asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.9.24
distlib==0.3.6
Django==4.0.4
django-material==1.10.0
filelock==3.8.0
pipenv==2022.9.24
platformdirs==2.5.2
six==1.16.0
sqlparse==0.4.2
virtualenv==20.16.5
virtualenv-clone==0.5.7
