{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    Bonus artifacts of power
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Bonus artifacts of power</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col s6">
                    {% csrf_token %}
                    <form method = "post">
                        {% form form=form %}{% endform %}
                        <button class="btn waves-effect waves-light black" type="submit" name="Create">Create
                            <i class="material-icons right">create</i>
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="col s6">
                {% if powers %}
                    <ul class="collapsible popout">
                        {% for power in powers %}
                            <li>
                              <div class="collapsible-header"><i class="material-icons">explore</i>Artifact of power: {{ power.Name }}</div>
                              <div class="collapsible-body">
                                  <span><p>Quest Reward: {{ quest.QuestReward }}</p></span>
                                  <span><p>Quest Progress: {{ quest.QuestProgress }}</p></span>
                                  {% if user.is_authenticated %}
                                    <span><a href="{% url 'editartifactofpower' power.pk %}">Edit</a></span>
                                    <span><a href="{% url 'deleteartifactofpower' power.pk %}">Delete</a></span>
                                  {% endif %}
                              </div>
                            </li>
                        {% endfor %}
                      </ul>
                {% else %}
                    <p>You have no artifacts of power</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}