{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    Hero
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Hero</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        <div class="row">
            {% if user.is_authenticated and user.id == user_id  %}
                <div class="col s6">
                    <p>{{ form.errors }}</p>
                    <form method="post">
                        {% csrf_token %}
                        {% form form=form %}{% end form %}
                        <button class="btn waves-effect waves-light black" type="submit" name="Create">Create
                            <i class="material-icons right">create</i>
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="col s6">
                {% if heros %}
                    <ul class="collapsible popout">
                        {% for hero in heros %}
                            <li>
                              <div class="collapsible-header"><i class="material-icons">directions_run</i>Hero: {{ hero.Name }}</div>
                              <div class="collapsible-body">
                                  <p>Warscroll: {{ hero.Warscroll }}</p>
                                  <p>Command trait: {{ hero.CommandTrait }}</p>
                                  <p>Injury: {{ hero.Injury }}</p>
                                  <p>Core enhancement notes: {{ hero.CoreEnhancement_Notes }}</p>
                                  <p>RenownPoints: {{ hero.RenownPoints }}</p>
                                  <p>Points: {{ hero.Points }}</p>
                                  {% if user.is_authenticated and user.id == user_id %}
                                    <span><a href="{% url 'edit_hero' hero.pk %}">Edit</a></span>
                                    <span><a href="{% url 'delete_hero' hero.pk %}">Delete</a></span>
                                  {% endif %}
                              </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hero has been added to this roster.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
