{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    Create Roster
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Create a Roster</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        <form action = "" method = "post">
            <p>{{ form.errors }}</p>
            {% csrf_token %}
            {% form form=form %}{% end form %}
            <button class="btn waves-effect waves-light black" type="submit" name="Create">Create
                <i class="material-icons right">create</i>
            </button>
        </form>
    </div>
{% endblock %}