{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    Edit Roster
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Edit this Roster</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        <form action = "" method = "post">
            <div class="row">
                <div class="col s6">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                </div>
            </div>
            <button class="btn waves-effect waves-light black" type="submit" name="Save">Save
                <i class="material-icons right">save</i>
            </button>
        </form>
    </div>
{% endblock %}