{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    The Vault
{% endblock %}
{% block content %}
    <div class="container">
        <h2>The Vault</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        {% if form %}
            <div class="container">
                <row>
                    <div class="col s1">
                        {{ form.as_p}}
                        {% if user.is_authenticated and user.id == user_id %}
                            <a href="{% url 'editvault' form.pk %}">Edit</a>
                        {% endif %}
                    </div>
                </row>
            </div>
        {% else %}
            <p>There is currently no vault for this roster</p>
            {% if user.is_authenticated and user.id == user_id %}
                <a href="{% url 'createvault' roster_id %}">Create a Vault</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}