{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    Bonus spells
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Bonus spells</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col s6">
                    <form method = "post">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button class="btn waves-effect waves-light black" type="submit" name="Create">Create
                            <i class="material-icons right">create</i>
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="col s6">
                {% if vault_item %}
                    <ul class="collapsible popout">
                        {% for item in vault_item %}
                            <li>
                              <div class="collapsible-header"><i class="material-icons">grain</i>Spell: {{ item.Name }}</div>
                              <div class="collapsible-body">
                                  {% if user.is_authenticated %}
                                    <span><a href="{% url 'edit_bonus_spell' item.pk %}">Edit</a></span>
                                    <span><a href="{% url 'delete_bonus_spell' item.pk %}">Delete</a></span>
                                  {% endif %}
                              </div>
                            </li>
                        {% endfor %}
                      </ul>
                {% else %}
                    <p>There are no bonus spells</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}