{% extends "shared/layout.html" %}
{% load material_form %}
{% block title %}
    {% if  isEdit != "True"%}
        Create a Stronghold
    {% else  %}
        Edit a Stronghold
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Strongholds</h2>
        <a href="#" onclick="history.back()"><i class="material-icons">keyboard_backspace</i></a>
        <div class="row">
        {% if user.is_authenticated %}
            <div class="col s6">
                <h3>Create a Stronghold</h3>
                <form action = "" method = "post">
                    <p>{{ form.errors }}</p>
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    {% if isEdit == "True" %}
                        <button class="btn waves-effect waves-light black" type="submit" name="Save">Save
                            <i class="material-icons right">save</i>
                        </button>
                    {% else %}
                        <button class="btn waves-effect waves-light black" type="submit" name="Create">Create
                            <i class="material-icons right">create</i>
                        </button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
        <div class="col s6 right-align">
            <h3>Strongholds</h3>
            {% if strongholds %}
                <ul class="collapsible popout">
                    {% for stronghold in strongholds %}
                        <li>
                          <div class="collapsible-header"><i class="material-icons">account_balance</i>Stronghold Name: {{ stronghold.Name }}</div>
                          <div class="collapsible-body">
                              <span><p>Stronghold Barracks: {{ stronghold.Barracks }}</p></span>
                              <span><p>Stronghold Imposing: {{ stronghold.Imposing }}</p></span>
                              <span><p>Stronghold Mighty: {{ stronghold.Mighty }}</p></span>
                              {% if user.is_authenticated %}
                                <span><a href="{% url 'editstronghold' stronghold.pk %}">Edit</a></span>
                                <span><a href="{% url 'deletestronghold' stronghold.pk %}">Delete</a></span>
                              {% endif %}
                          </div>
                        </li>
                    {% endfor %}
                  </ul>
            {% else %}
                <p>You currently have no strongholds</p>
            {% endif %}
        </div>
    </div>
{% endblock %}