{% extends "shared/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="white">
      <div class="container">
          <h1 class="center-align">The path to glory begins here!</h1>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax">
          {% load static %}
          <img src="{% static  'images/A_warriors_with_swords_walking_through_a_waste_land_in_a_storm_.png'%}" alt="Warriors walking in a storm">
      </div>
    </div>
     <div class="white">
         <div class="row container">
            <h2 class="center-align">Check out these groups with Path to Glory Rosters</h2>
                {% for Group in PathToGloryGroup %}
                    <div class="card-panel grey darken-3 col s12 m6 center-align z-depth-3">
                        <span class="flow-text">
                            <a class="white-text" href="{% url 'grouprosters' Group.pk %}">{{ Group.Description }}</a>
                        </span>
                    </div>
                {% endfor %}
         </div>
     </div>
    <style>
        .
    </style>
{% endblock %}